<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updates Tables &laquo;[[${table.title}]]&raquo; &ndash; Logistics Centre Crystal bud</title>
</head>
<body>
<a data-th-href="@{/catalogue/tables/{tableId}(tableId=${table.id})}">&larr; К таблице</a>
<h1>Updates Tables &laquo;[[${table.title}]]&raquo;</h1>
<div data-th-if="${errors}">
    <h2>Допущенны ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/catalogue/tables/{tableId}/edit(tableId=${table.id})}">
    <label>
        Название:<br>
        <input type="text" name="title" data-th-value="${payload!=null ? payload.title : table.title}"><br>
    </label><br>
    <label>
        Описание:<br>
        <textarea name="details" data-th-text="${payload!=null ? payload.details : table.details}"></textarea>
    </label><br>
    <button type="submit">Изменить</button>
</form>
</body>
</html>